
.book-container {
  background: #fff;
  border-radius: 2px;
  padding: 1%;
  margin: 1rem;
  width: 90%;
  height: 170px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  background:rgb(250, 252, 253);
  overflow: hidden;
}

.book-img {
  width: 15%;
  max-height: 150px;
  line-height: 170px;
  vertical-align: top;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.book-info{
  display: inline-block;
  width: 85%;
  height: 100%;
  vertical-align: top;
}

.text-area{
  display: inline-block;
  margin-left: 5%;
  width: 75%;
}

.book-name{
  font-style: italic;
}

.button-wrapper{
  height: 100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

button {
  min-width: 70px;
  line-height: 150px;
}

.more-button{
  position: relative;
  top: 20%
}

.save-button{
  margin-top: 3em;
}

.description{
  font-size: 0.75rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media (max-width: 737px){
  .book-img{
    width: 30%;
    margin-left: 3%
  }

  .book-info{
    width: 65%;
    position: relative;
  }
  .text-area{
    width: 90%;
    margin-top: 5%;
    margin-left: 10%;
    max-height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .description{
    display: none;
  }
  .button-wrapper{
    height: auto;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 0%
  }
  .more-button{
    top: 0%
  }
  .save-button{
    margin-left: .5em;
    margin-top: 0em;
  }
}
